/* app css stylesheet */
body {
  font-family: Arial,Helvetica,sans-serif;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.bidder-0 {
  text-align: center;
  font-size: 24px;
}

.bidder-0  a {
    background-color: rgba(240, 240, 200, 1);
}

.bidder-winner {
  text-align: center;
  font-size: 24px;
}

.bidder-winner a {
    background-color: rgba(0, 0, 0, 1);  
}

.timer {
  height: 36px;
  overflow: hidden;
  vertical-align: center;
}

.count {
  float: left;

  &.once {
    background-color: blue;  
  }

  &.twice {
    background-color: green;  
  }

  &.final {
    background-color: red;  
  }

  &.verify {
    background-color: navy;
  }
}

.price {
  color: #0064D2;
  font-size: 1.3em;
  font-weight: 500;
}

.history {
  max-height: 80px;
  overflow: hidden;
  //overflow-y: auto;
}

.history ul {
  list-style: none;
}

.control-buttons {
  min-height: 120px;
}

.tb-reset-timer {
  margin: 36px -14px 4px -14px;
  border-top: 1px solid #DDDDDD;
  padding: 14px 8px 4px 8px;
}



.header .navbar {
    min-height: 64px;
    background: transparent url('../img/noise.png') repeat; /*IE fix*/
    background: rgba(0, 0, 0, 0.70) url('../img/noise.png') repeat;
  }

.header .logo {
    font-size: 24px;
    color: white;
  }
.header .demo {
    color: yellow;
    font-size: 14px;
    font-family: cursive;
  }

.header .lastitem {
    width: 100px;
  }

.header a {
    cursor: pointer;
}

.content {
  margin-top: 88px;
}
