<div ng-if="auction" class="thumbnail">
    <img ng-src="{{auction.image}}" alt="{{auction.name}}">
    <div class="caption">
        <h3>{{auction.name}}</h3>
        <p>
            <h3 class="timer">
                <span tb-countdown-timer></span>
                <span class="pull-right price">{{auction.price | currency}}</span>
            </h3>
        </p>
        <p>
            <ul ng-switch="auction.status" class="nav nav-pills nav-stacked">
                <li ng-switch-when="FINISHED" class="winner-bid">
                    <a href="#">Winner: {{auction.winner.username}}</a>
                </li>
                <li ng-switch-default class="winning-bid">
                    <a href="#" ng-show="getWinningBid()">{{getWinningBid().username}}</a>
                </li>
            </ul>
        </p>

        <div class="history pull-right">
            <ul>
                <li ng-repeat="bidder in biddingHistory | orderBy: 'timestamp' : true | limitTo : 5">
                    <span ng-if="!$first"><a href="#">{{bidder.username}}</a> : {{bidder.price | currency}}</span>
                </li>
            </ul>
        </div>

        <div class="control-buttons">
            <p><button class="btn btn-primary btn-lg" ng-click="bid()" ng-disabled="!canBid()">Place Bid</button></p>
            <p ng-if="auction.status == 'FINISHED' && user" tb-reset-timer></p>
        </div>
    </div>
</div>