<p>Travel Bids Demo</p>

<div>
      <div class="thumbnail">
        <img ng-src="{{auction.image}}" alt="Gift Card">
        <div class="caption">
            <h3>{{auction.name}}</h3>
            <p>Enjoy travelling with Flight Center</p>
            <p>
                <h3 class="timer">
                	<span tb-countdown-timer ng-if="auction" class="pull-left"/>
                </h3>
            </p>
            <p>{{auction.price | currency}}</p>
            <p>
              <ul class="nav nav-pills nav-stacked">
                  <li ng-show="auction.winner" class="bidder-winner"><a href="#">Winner: {{auction.winner.username}}</a></li>
                  <li ng-hide="auction.winner" ng-repeat="bidder in biddingHistory" class="bidder-{{$index}}">
                    <a href="#"><span ng-if="$last">Winning: </span>{{bidder.username}}</a>
                  </li>
              </ul>
            </p>
            <p>Balance: <b>{{user.balance}}</b></p>
            <div class="control-buttons">
                <button class="btn btn-lg" ng-click="bid()" ng-disabled="!canBid()">Place Bid</button>
            </div>
            <p ng-if="auction.status == 'FINISHED'" tb-reset-timer></p>
        </div>
      </div>
</div>